.header {
	position: relative;
	&__contacts {
		height: 39px;
		display: flex;
		justify-content: space-between;
		width: 50%;
		flex: auto;
		margin-left: 50%;
	}
	&__contact-link {
		font-size: $fz_5;
		font-weight: 400;
		line-height: 39px;
		i {
			color: $color_4;
			margin-right: 16px;
			width: 16px;
			height: 16px;
			font-size: $fz_3;
		}
	}
	&__menu {
		box-shadow: 0px 0px 12px #00000029;
		height: 64px;
	}
	&__logo {
		margin-right: 63px;
		img {
			height: 64px;
			width: 188px;
		}
	}
}
.cart {	
	position: relative;
	padding-top: 4px;
	i {
		font-size: 24px;
		margin-right: 20px;
	}
	span {
		position: absolute;
		top: 3px;
		left: 15px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		font-size: $fz_6;
		border: 1px solid $def-color;
		text-align: center;
			background: $color_1;
	}
}
.burger-menu {
	width: 36px;
	height: 16px;
	cursor: pointer;
	display: none;
	&__line {
		display: block;
		width: 36px;
		height: 2px;
		background: $color_4;
		margin-bottom: 5px;
	  	transition: .3s;
	  	.change & {
			background: $color_4;
			transform: rotate(-45deg) translate(0px, 10px);

	  	}
		&:nth-child(2) {
		  .change & {
			opacity: 0;
		  }

		}
	  	&:nth-child(3) {
			margin-bottom: 0;
			.change & {
			  transform: rotate(45deg) translate(0px, -10px) ;
			}
		}
	}
}
.menu {
	display: flex;
	// position: relative;
	&__cart {
		display: none;
		i {
			color: $color_4;
		}
	}
	&__body {
	  	flex: auto;
	  	transition: .5s;
	  	.header__contacts {
			display: none;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
	  	transition: .5s;
	}
	&__link {
		font-size: $fz_5;
		font-weight: 700;
		letter-spacing: 0.13px;
		line-height: 64px;
		display: block;
		height: 64px;
		&:hover {
			border-bottom: 2px solid $color_4;
		
		}
	}
}

