@media screen and (max-width: 1100px){
	._container {
		max-width: 750px;
	}
	.title {
		font-size: $fz_2;
		letter-spacing: 0.78px;
	}
	.modal {
	  	width: 520px;
	  	height: 509px;
	  	top: calc(50% - 250px);
	  	padding: 40px 60px;
	  	&__title {
			font-size: $fz_9;
			line-height: 30px;
	  	}
	}
	.input-wrapp {
	  margin-bottom: 28px;
	  label {
		font-size: $fz_4;
		font-weight: 700;
		line-height: 24px;
		display: inline-block;
		margin-bottom: 16px;
	  }
	  input {
		display: block;
		width: 454px;
		height: 38px;
		border: 1px solid $color_4;
		outline: none;
	  }
	}
  	.modal-wrap-2 {
	  padding-top: 20px;
	  &__img {
		width: 160px;
		height: 160px;
	  }
	}
	.header {
		&__contacts {
			width: 100%;
			margin-left: 0;
			justify-content: flex-end;
		}
		&__contact-link {
			margin-right: 43px;
			height: 54px;
		}
		&__menu {
			height: 54px;
		}
		&__logo {
			margin-right: 33px;
			img {
				height: 54px;
				width: 159px;
			}
		}
	}
	.menu {

		&__link {
			height: 54px;
			line-height: 54px;
		}
	}
	.slider {
		form {
			//right: 9px;
			right: calc(50% - 375px);
		}
	}
  	.carousel {
		.slick-dots {
		  	left: calc(50% - 375px);
		  	max-width: 750px;
		}
	}
	.footer {
		
		padding: 40px 0;
		&__title {
			font-size: $fz_4;
		}
	}

	.slide-info {
		width: 490px;
		padding-left: 30px;
		&__title {
			font-size: $fz_9;
		}

	}
	.search {
		width: 360px;
	}
	.catalog {
		padding: 80px 0;
		&__title {
			margin-bottom: 60px;
		}
		&__wrapp {
			display: grid;
			grid-template-columns: 360px 360px;
			grid-column-gap: 34px;
			margin-bottom: 60px;
		}
	}
	.catalog-item {
		width: 360px;
		height: 185px;
		&__img {
			width: 295px;
			height: 157px;
		}
		&__name {

		  	left: 64px;
			bottom: 0;
			width: 266px;
			height: 56px;
			padding-left: 20px;
			&::before {
				width: 266px;
				height: 56px;
			}
			h2 {
			  font-size: $fz_4;
			  line-height: 56px;
			}
		}
	}
	.question-button {
		font-size: $fz_5;
		width: 226px;
		&::before {
			width: 226px;
		}
	}
	.question {
		width: 57%;
		padding-right: 0;
		margin-right: 90px;
		justify-content: flex-start;
		&__img {
			margin-right: 20px;
			padding-left: 9px;
		}
		&__text {
			font-size: $fz_9;
			text-align: left;
			letter-spacing: 0;
		}
		&__green {
			width: 58%;
			left: 0;
			&::before {
				bottom: 0;
				right: -60px;
				border-top: 130px solid $color_4;
				border-right: 60px solid transparent;
			}
		}
	}
	.job {
		padding: 120px 0;
		&__title {
			margin-bottom: 60px;
		}
		&__wrapp {
			grid-template-columns: 360px 360px;
			grid-template-rows: 300px 300px 300px;
		}
	}
	.job-item {

		padding: 0 32px;
		&:nth-child(2) {
			grid-column: 2 / 3;
		}
		&:nth-child(3) {
			grid-column: 1 / 3;
			grid-row: 2 / 3;
		}
		&:nth-child(4) {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		}
		&:nth-child(5) {
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}
	.about {
		flex-direction: column;
		&__img {
			width: 100%;
			height: 240px;

		}
		&__info {
			width: 750px;
				margin: 0 auto;
			padding: 48px 0 60px 0;

		}
		&__title {
			letter-spacing: 0.43px;
			margin-bottom: 60px;
		}
		&__text {
			width: 100%;
		}
		&__list-item {
			width: 100%;
		}
	}
	.providers {
		padding-top: 80px;
		padding-bottom: 80px;
		&:before {
		top: 176px;
		}
		&__title {
			margin-bottom: 60px;
		}
	  	.prev, .next {
		  top: 158px;
		}
	}
	.providers-carousel {
	  .provider {
		&__name {
		  max-width: 250px;
		}
	  }
	}

	.contacts-info {
		left: calc(50% - 375px);
		width: 360px;
		height: 466px;
		padding: 80px 10px 10px 48px;
		&__title {
			margin-bottom: 60px;
		}
		&__item {
			margin-bottom: 20px;
			font-size: $fz_5;
			font-weight: 400;
			&:nth-child(3) {
				margin-bottom: 44px;
			}
			span {
				font-size: $fz_4;
			}
		}
	}
	.catalog {
		&__title {
			margin-bottom: 60px;
		}
	}
	.rent {
		padding-bottom: 80px;
		.about__text {
			width: 700px;
			min-width: 700px;
		}
		&__title {
			margin-bottom: 60px;
		}
	}
	.rent-info {
		&__text {
			padding-right: 0;
		}
		&__line {
			display: flex;
			justify-content: space-between;
			padding-bottom: 40px;
		}
		&__contact {
			display: block;
			margin-bottom: 15px;
			font-size: $fz_5;
			font-weight: 700;
			&:nth-child(2) {
				margin-bottom: 40px;
			}
		}	
		i {
			color: $color_4;
			font-size: $fz_4;
			margin-right: 14px;
		}
		&__list {
			margin-bottom: 40px;
		}
	}
	.rent-item {
		&__icon {
		display: flex;
		align-items: center;
		height: 60px;
		img {
			display: block;
			margin: 0 auto;
		}
		}
		&__text {
		text-align: center;
		padding-top: 16px;
		line-height: 24px;
		}
	}
	.small-title {
		font-size: $fz_4;
	}
	.conditions {
		margin-bottom: 40px;

		.about__text {
		max-width: 750px;
		width: 750px;
		line-height: 16px;
		}
		.about__list-item {
		padding-left: 30px;
		span {
			width: 15px;
			height: 10px;
			margin-right: 30px;
		}
		}
		.rent-info__text {
		padding-right: 30px;
		margin-bottom: 16px;
		}

		&__img {
		min-width: 230px;
		height: 156px;
		}
	}
	.product {
		padding-bottom: 80px;
		&__title {
		margin-bottom: 60px;
		padding-right: 200px;
		}
		&__wrapp {
			flex-direction: column;
		}
		&__img {
			max-width: 750px;
			width: 100%;
			height: 507px;
		  	.slick-prev, .slick-next {
				top: 250px;

		  	}
		}
		&__info-line {
		justify-content: space-between;
		margin-bottom: 40px;
		padding-top: 54px;
		}
		&__info {
		padding-left: 0;
		width: 100%;
		}
		&__price {
		font-size: $fz_8;
		font-weight: 700;
		display: block;
		}
	}
		.tabs {
		margin-bottom: 80px;
	}
	.other-product {
		&__title {
		margin-bottom: 60px;
		}
		&__carousel {
		margin-bottom: 80px;
		}
	}
	.tovar {
		width: 360px;

		&__img {
		margin-bottom: 20px;
		}

		&__name {
		font-size: $fz_4;
		margin-bottom: 33px;
		}
	}
	.subsection {
		padding-bottom: 80px;
	  	&__title {
			margin-bottom: 60px;
	  	}
	  	.tovar-wrapp {
			grid-template-columns: 1fr 1fr;
	  	}
	}

}

@media screen and (max-width: 768px) {
	._container {
		max-width: 338px;
	}
	.title {
		font-size: $fz_2;
		letter-spacing: 0.78px;
	}
  	.modal-fade {
	  	background: $color_1;
	}
	.modal {
	  	width: 338px;
	  	height: 100%;
	  	top: 0;
	  	padding: 40px 11px;
	  	box-shadow: none;
	  	&__title {
		  	margin-bottom: 28px;
	  	}
	  	&__politics-text {
		  padding-right: 70px;
		}
	}
	.modal-wrap-2 {
	  padding-top: 40px;
	  &__img {
		width: 120px;
		height: 120px;
		margin-bottom: 70px;
	  }
	}
	.header {
		&__contacts {
			display: none;
		}
		&__logo {
			margin-right: 0;
		}
	}
	.burger-menu {
		display: block;
	}
	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__cart {
			display: block;
		}
		&__body {
			background: $color_1;
			display: none;
			position: absolute;
			top: 54px;
		  	padding-top: 30px;
			left: 0;
			height: 100vh;
			width: 100%;
			z-index: 99;
		  	.header__contacts {
			  display: block;
			  flex-direction: column;
			  width: 338px;
			  margin: 0 auto;
			  padding-top: 30px;
			}
		  	.header__contact-link {
			  display: block;
			  margin-right: 0;
			  height: 40px;

			}
		}
		&__list {
			background: $color_1;
			flex-direction: column;
			width: 338px;
			margin: 0 auto;
		}
	  	&__link {
		  line-height: 42px;
		  height: 42px;
		  &:hover {
			border: none;
		  }
		}
	}
  	.active-link {
	  border-left: 2px solid $color_4;
	  padding-left: 12px;
	}
	.footer {	
		&__text {
			width: 338px;
			margin: 0 auto;
			padding: 0 10px;			
		}
	}

	.slider {
		form {
			right: calc(50% - 169px);
			order: 0;
		}
	}
	.search {
		width: 338px;
		input[type="search"] {
			width: 278px;
		}
	}
	.carousel {
		.slick-dots {
		   left: 10px;
		   max-width: 338px;
		}
		.item {
			background-size: cover;
			._container {
				padding-bottom: 55px;
			}
		}
	}
	.slide-info {
		width: 100%;
		min-height: 202px;
		padding: 20px 30px;
		&__title {
			font-size: $fz_9;
			line-height: 30px;
			margin-bottom: 12px;
		}
		&__text {
			font-size: $fz_5;
			line-height: 28px;
			margin-bottom: 20px;
		}
	}
	.catalog {
		padding: 60px 0;
		&__title {
			margin-bottom: 40px;
		}
		&__wrapp {
			display: grid;
			grid-template-columns: 338px;
			grid-row-gap: 30px;
			grid-column-gap: 0;
			justify-content: center;
			margin-bottom: 40px;
		}
	}

	.catalog-item {
		width: 338px;
		height: 158px;
		&__img {
			width: 246px;
			height: 130px;
		}
		&:hover &__img img:nth-child(2){ display: block}
		&__name {
			left: 94px;
			width: 216px;
			height: 56px;
			padding-left: 20px;
			&::before {
			left: -5px;
			bottom: 5px;
			width: 216px;
			height: 56px;
			}
			h2 {
			line-height: 56px;
			}
		}
	  	&:nth-child(4) {
		  	.catalog-item__name {
			  	h2 {
				  line-height: 24px;
				}
			}
		}
	}
	.catalog__line {
		flex-direction: column;
		align-items: flex-start;
	}
	.question {
		width: 80%;
		margin-bottom: 40px;
		padding-right: 0;
		margin-right: 0;
		&__img {
			margin-right: 14px;
		}
		&__text {
		  	//padding-top: 20px;
		  	font-size: $fz_9;
			line-height: 30px;
		}
		&__green {
			width: 81%;
			top: 9px;
			left: 5px;
		}
	}
	.question-button {
		margin: 0 auto;
	}
	.job {
		padding: 88px 0 60px 0;
		&__wrapp {
			grid-template-columns: 338px;
			grid-template-rows: 300px 300px 300px 300px 300px;
		}
	}
	.job-item {
		padding: 0 20px;
		&:nth-child(2) {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
		&:nth-child(3) {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		}
		&:nth-child(4) {
			grid-column: 1 / 2;
			grid-row: 4 / 5;
		}
		&:nth-child(5) {
			grid-row: 5 / 6;
			grid-column: 1 / 2;
		}
		&__img {
			height: 108px;
		}
		&__text {
			margin-bottom: 20px;
		}
	}
	.about {
		&__img {
			height: 113px;
			
		}
		&__info {
			width: 338px;
		}
		&__title {
			margin-bottom: 40px;
		}
	}
	.providers {
		padding: 60px 0;
		&:before {
			top: 153px;
		}
	}
	.providers-carousel {
		.provider {
			max-width: 169px;
			&__name {
				padding-top: 20px;
			  	max-width: 160px;
			}
		}
	}
	.contacts {
		iframe {
			height: 450px;
		}
	}
	.contacts-info {
		position: relative;
		left: calc(50% - 169px);
		width: 338px;
		height: 390px;
		padding: 60px 0 40px 0;
		margin-right: 0;
		box-shadow: none;
		&__title {
			margin-bottom: 40px;
		}
	}
	.category {
		padding-top: 30px;
		padding-bottom: 120px;
	}
	.navigation {
		flex-direction: column;
		flex-flow: wrap;
	}
	.nav-links {
		padding-top: 10px;
		order: 1;
	}
	
	.rent {
		padding-bottom: 60px;
		.about__text {
			min-width: 308px;
			width: 308px;
			line-height: 24px;
		}
		&__title {
			margin-bottom: 40px;
		}
	}
	.rent-info {
		&__text {
			padding-right: 0px;
		}
		&__line {
			flex-wrap: wrap;
			padding-bottom: 0;
		}
	}
	.rent-item {
		width: 169px;
		margin-bottom: 30px;
		&__icon {	
			height: 60px;
		}
		&__text {
			padding: 16px 5px 0;
		}
	}
	.conditions {
		flex-direction: column;
		margin-bottom: 20px;
		&__text {
			width: 308px;
		}
		&__img {
			display: none;
		}
		&__img2 {
			display: block;
		}
	}
	.product {
		padding-bottom: 60px;
		&__title {
			margin-bottom: 40px;
			padding-right: 0;
		}
		&__img {
			max-width: 338px;
			height: 228px;
		  	.slick-prev, .slick-next {
				top: 110px;
		  	}
		}
		&__info-line {
			flex-direction: column;
			align-items: center;
			padding-top: 28px;
		}
		
		&__price {
		margin-bottom: 28px;
		}
	}
	.tabs {
		margin-bottom: 60px;
		&__link {
			font-size: $fz_5;	
		}	
	}
	.other-product {
		&__title {
			margin-bottom: 40px;
		}
		&__carousel {
			margin-bottom: 64px;
		}
	}
	.subsection {
	  	padding-bottom: 60px;
	  	&__title {
			margin-bottom: 40px;
		}
	  	.tovar-wrapp {
			grid-template-columns: 338px;
	  	}
	}
  	.pagination {
	  	flex-direction: column;
	  	&__wrapp {
		  	margin: 20px 0;
	  	}
	}
	.tovar {
		width: 338px;
	  	margin: 0;
		&__img {
		  margin-bottom: 20px;
		}

		&__name {
		  font-size: $fz_4;
		  margin-bottom: 33px;
		}
	}
}

