.modal-fade {
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	background: rgba(236, 236, 236, .7);
  	z-index: 999;
		left: 0;
		top: 0;
		display: none;
		transition: .4s;
}
.modal {
  	width: 600px;
  	height: 512px;
  	background: $color_1;
  	box-shadow: 0px 0px 20px #E0E0E0;
  	margin: 0 auto;
  	top: calc(50% - 256px);
  	padding: 40px 68px 0 78px;
  	position: relative;
  	transition: .4s;
  	&__title {
			font-size: $fz_2;
			font-weight: 800;
			line-height: 33px;
			text-align: center;
			margin-bottom: 40px;
  	}
  	&__close-btn {
		position: absolute;
		font-size: $fz_4;
		top: 14px;
		right: 12px;
		color: $color_5;
		cursor: pointer;
  	}
  	&__politics {
		display: flex;
	  	margin-bottom: 34px;
	  	input[type="checkbox"] {
	  		display: none;
		}
	  	label {
		  position: relative;
		  display: inline-block;
		  cursor: pointer;
		}
	  	label:before {
		  content: "";
		  display: inline-block;
		  min-width: 18px;
		  width: 18px;
		  height: 18px;
		  border: 1px solid $color_4;
		  position: absolute;
		  left: 0;

		}
		input[type=checkbox]:checked + label:before {
			content: "\2713";
			font-size: 15px;
			color: $color_4;
			text-align: center;
			line-height: 18px;
		}

	}
  	&__politics-text {
		font-size: $fz-5;
		line-height: 28px;
		padding-left: 36px;
		display: inline-block;
  	}
	&__button {
	  	display: block;
	  	width: 248px;
	  	height: 62px;
	  	box-shadow: 0px 0px 24px #00000029;
	  	position: relative;
	  	background: $color_4;
	  	cursor: pointer;
	  	font-size: $fz_3;
	  	font-weight: 700;
	  	line-height: 62px;
	  	color: $color_1;
	  	border: none;
	  	margin: 0 auto;
	  	&::before {
			content: '';
			display: block;
			position: absolute;
			top: 4px;
			left: 4px;
			width: 248px;
			height: 62px;
			border: 1px solid $color_4;
			z-index: 2;
	  	}
	}
}
.input-wrapp {
  	margin-bottom: 28px;
  	label {
		font-size: $fz_4;
		font-weight: 700;
		line-height: 24px;
		display: inline-block;
		margin-bottom: 16px;
	}
	input {
		display: block;
		width: 454px;
		height: 38px;
		border: 1px solid $color_4;
		outline: none;
	}
}
.modal-wrap {
  //display: none;
}
.modal-wrap-2 {
	display: none;
  	padding-top: 40px;
  	&__title {
	  font-size: $fz_9;
	  font-weight: 800;
	  line-height: 30px;
	  margin-bottom: 60px;
	  text-align: center;
	}
  	&__img {
	  	width: 180px;
	  	height: 180px;
	  	position: relative;
	  	margin: 0 auto 60px auto;
		img {
		  	position: absolute;
		  	height: 100%;
		  	width: 100%;
		  	left: 0;
		  	top: 0;
		}
	}
  	&__text {
	  	font-size: $fz_5;
	  	font-weight: 400;
	  	line-height: 28px;
	  	text-align: center;
	}
}




